body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  width: 100px;
  height: 100px;
}

.navLink {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

.navList {
  width: 50%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.profile {
  display: flex;
  justify-content: center;
  gap: 50px;

}

li {
  text-decoration: none;
  list-style: none;
}

.list {
  list-style: none;
}

ul {
  padding: 0;
}

.listItems {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  text-align: left
}

.listItem {
  display: flex;
  padding: 0 20px;
  align-items: center;
  gap: 30px;
}

.paragraph {
  width: 55%;
  word-wrap: break-word;
}

.heading {
  width: 10%;
}

.navLink a:active {
  border: 3px solid gray;
}